<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>가입 완료</title>
  <link rel="stylesheet" href="/signup-complete.css">
</head>
<body>
  <div class="container">
    <h2>가입 완료!<br>모두의 길로 초대합니다!</h2>
    <a href="/" class="start-button">모두의 길 바로 시작하기</a>
  </div>
</body>
</html>